/*
primario: #230A59
secundario: #0029FA
letras: #3E38F2
detalles: #5C73F2
complementario: #829FD9
*/
body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #f7f7f7;
}
header {
    background: #3E38F2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #230A59, #0029FA, #829FD9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #230A59, #0029FA, #829FD9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    padding: 0.5em;
    text-align: center;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.main-img {
    border-radius: 5px;
}
.img-header {
    width: 80px;
}
.border1-right {
    border-right: 1px solid white;
}
.presentation{
    text-align: center;
}
h1.title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.1em;
    color: white;
}
p.p-header {
    font-size: 1em;
    font-weight: 400;
    margin: 0.1em;
    color: #b2bfda;
}
div.subtitle {
    background-color: #cacaca;
    color: #5C73F2;
    font-size: 1em;
    padding: 0.5em 0.5em;
    line-height: 1.3em;
}
div.overview {
    display: inline-block;
    width: 85%;
}
div.subtitle i {
    padding-right: 0.1em;
    font-size: 2.5em;
    vertical-align: top;
    float: none;
}
i.customize-icon {
    font-size: 1em;
    float: left;
    color: #3E38F2;
    padding-right: 0.3em;
}
i.customize-network {
    font-size: 2.5em;
    float: left;
    color: #3E38F2;
}
i.customize-network:hover, i.customize-network:focus {
    color: #112635;
}
section.seccion-principal {
    color: #5C73F2;
}
div.section-color {
    width: 100%;
    background-color: #f7f7f7;
    margin: 0 auto;
}
div.education {
    margin: 0.5em;
    display: inline-block;
    width: 48%;
    vertical-align: top;
}
h3.h3-first {
    margin-top: 0.5em;
}
h3.title-h3 {
    margin: 0.3em 0;
    font-size: 2em;
    font-weight: 700;
    color: #5C73F2;
}
.detail {
    color: #112635;
}
.detail-title {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    color: #0029FA;
}
.fl-c {
    float: right;
    color: #ffc107;
    font-size: 0.8em !important;
}
.detail-description {
    font-size: 1em;
    line-height: 1.2;
    /*border-left: 1px solid #5C73F2;
    padding-left: 0.5em;*/
}
.division-hr {
    padding: 0 1em;
    height: 3px;
    background: #3E38F2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #230A59, #0029FA, #829FD9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #230A59, #0029FA, #829FD9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 90%;
    border-radius: 10px;
    margin: 0.5em auto;
}
.sub-division-hr {
    padding: 0 1em;
    height: 1px;
    background: #829FD9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0029FA, #829FD9, #829FD9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0029FA, #829FD9, #829FD9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 90%;
    border-radius: 10px;
    margin: 0.5em auto;
}
.div-relative {
    position: relative;
}
.after-title::before {
    content: "";
    height: 3px;
    width: 300px;
    position: absolute;
    background: #3E38F2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #230A59, #0029FA, #829FD9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #230A59, #0029FA, #829FD9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    bottom: -5px;
    left: 0;
}
.experience {
    font-weight: bold;
    padding: 0.2em 0.5em;
    color: #545454;
}
.experience-vl {
    border-left: 2px solid #0029FA;
    padding: 0.2em 0.5em;
}
div.img-cv {
    display: inline-block;
}
.m-1em {
    margin: 0.5em;
}
.m-2em {
    padding: 0 1em;
}
.mt-20 {
    margin-top: 20px;
}
.ta-center {
    text-align: center;
}
.w-400 {
    width: 24%;
    display: inline-block;
    text-align: left;
}
.ul-mp {
    margin-top: 12px;
    padding: 0;
    list-style-type: none;
}
.competencies-mobile {
    color: #112635;
}
.competence-item {
    padding: 0.5em;
    font-size: 1.1em;
    font-weight: bold;
    background-color: transparent;
    border-bottom: 1px solid #5C73F2;
    color: #5C73F2;
    /*text-shadow: 1px 1px #828282;*/
}
.competence-item:hover,  .competence-item:focus {
    background: #3E38F2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d2d2d2, #d2d2d2, #829FD9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d2d2d2, #d2d2d2, #829FD9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.competencies {
    display: none;
}
.social-networks {
    margin-top: 1em;
}
.social {
    display: inline-block;
    padding: 0.9em 4%;
}
.footer {
    text-align: center;
    background-color: #3E38F2;
    color: white;
    padding: 1em;
}
p {
    margin-bottom: .3rem;
}
div.row, hr {
    margin-left: 0;
    margin-right: 0;
}
div.col-12 {
    padding-left: 0;
    padding-right: 0;
}
/** TABS STYLES*/
/* Style the tab */
.tab {
    margin-top: 1em;
    overflow: hidden;
    border: 1px solid #5C73F2;
    background-color: #f7f7f7;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    font-size: 1.1em;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5em;
    transition: 0.3s;
    font-weight: bold;
    color: #5C73F2;
    background-color: #f7f7f7;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: white;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background: #3E38F2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0029FA, #829FD9, #d2d2d2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0029FA, #829FD9, #d2d2d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    border: 1px solid #5C73F2;
    border-top: none;
  }
  /*ANIMATIONS*/
  .tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
/** END TAB STYLES*/

.custom-item {
    margin: 0 auto;
    height: 150px;
}
.column-table {
    vertical-align: middle !important;
}

/* COLLAPSED*/
#summary-professional-profile div.collapse:not(.show),
#summary-personal-profile div.collapse:not(.show) {
    height: 40px !important;
    overflow: hidden;
    
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}
  
#summary-professional-profile div.collapsing, 
#summary-personal-profile div.collapsing {
    min-height: 40px !important;
}
  
#summary-professional-profile a.collapsed:after,
#summary-personal-profile a.collapsed:after  {
    content: 'Mostrar más';
}
  
#summary-professional-profile a:not(.collapsed):after,
#summary-personal-profile a:not(.collapsed):after {
    content: 'Mostrar menos';
}
/*END COLLAPSED*/
.btn-outline-main {
    color: #0029FA;
    border-color: #0029FA;
}

/*NEW TAB STYLES*/
/* Style the tab */
.tab-v {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 40%;
    height: 300px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab-v button {
    color: #5C73F2;
    font-weight: bold;
    font-size: 1.1em;
    display: block;
    padding: 0.7em;
    width: 100%;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    background-color: #f7f7f7;
  }
  
  /* Change background color of buttons on hover */
  .tab-v button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .tab-v button.active {
    background: #3E38F2;
    background: -webkit-linear-gradient(to right, #0029FA, #829FD9, #d2d2d2);
    background: linear-gradient(to right, #0029FA, #829FD9, #d2d2d2);
    color: white;
  }
  
  /* Style the tab content */
  .tabcontent-v {
    float: left;
    padding: 0;
    border: 1px solid #ccc;
    width: 60%;
    border-left: none;
    height: 300px;
    background: #829FD9;
    background: -webkit-linear-gradient(to right,#d2d2d2, white, white);
    background: linear-gradient(to right,#d2d2d2, white, white);
  }
  /*END NEW TAB STYLES*/
.d-ib {
    display: inline-block;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (min-width: 576px) {
    .seccion-principal{
        max-width: 80%;
        margin: 0 auto;
    }
}
@media (min-width: 768px) {
    .border1-right {
        border: none;
    }
    .presentation {
        max-width: 960px;
        margin: 0 auto;
    }
    h1.title {
        font-size: 2.5em;
    }
    .img-header {
        width: 120px;
    }
    .competencies-mobile {
        display: none;
    }
    .competencies {
        display: block;
        color: white;
    }
    div.option-flex, .subtitle {
        display: flex;
        align-items: center;
    }
    .seccion-principal {
        max-width: 960px;
        margin: 0 auto;
    }
    .img-cv img {
        width: 150px;
        float: right;
    }
    h3.title-h3 {
        margin: 0.25em 0 0.5em 0;
        font-size: 2em;
    }
    .detail-description {
        line-height: 1.6;
    }
    .desktop-competencies {
        background: #3E38F2;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0029FA, #829FD9, white);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0029FA, #829FD9, white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding: 0.3em;
        color: white;
        margin: 0.1em 0;
        font-size: 1.2em;
    }
    .ul-mp {
        margin: 0;
    }
    .mt-li {
        background-color: #f7f7f7;
        padding: 0.35em;
        margin: 0.1em 0;
        color: #829FD9;
        font-weight: bold;
        border-bottom: 1px solid #829FD9;
    }
    .mt-li:hover, .mt-li:focus {
        background: #3E38F2;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0029FA, #829FD9, white);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0029FA, #829FD9, white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: white;
    }
    .btn-outline-main {
        display: none;
    }
    #summary-professional-profile div.collapse:not(.show),
    #summary-personal-profile div.collapse:not(.show) {
        height: auto !important;
        overflow: auto;
        display: initial;
        -webkit-line-clamp: initial;
        -webkit-box-orient: initial; 
    }
    
    #summary-professional-profile div.collapsing, 
    #summary-personal-profile div.collapsing {
        min-height: auto !important;
    }
    .fl-c {
        font-size: 1em;
    }
}
@media (min-width: 576px) {
    .social-networks {
        text-align: center;
    }
}